@import "_variables.scss";

input, li, .list-group-item, .form-control {
    background-color: $primary-highlight;
    color: $btn-font-color;
    border: none;
}

.list-group-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: $primary-font-size;
    transition: width 1s ease;
}

.list-form, #taskInput {
    background-color: transparent;
    border-bottom:rgba(0, 29, 155, 0.3) 2px solid;

}


.list-form:focus {
    background-color: $secondary-bg-color;
}

.form-control {
    margin-right: 15px;
}

.form-control:focus, #taskInput:focus {
    color: $font-color;
    border-bottom: $secondary-highlight 2px solid;
    box-shadow: none;
}


.form-control::placeholder {
    color: $font-color;
}

.form-control:focus::placeholder {
    color: transparent;
}

.list-group-item.active {
    background-color: $primary-highlight;
    border-color: $primary-bg-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.listItem:hover {
    cursor: pointer;
}

.list-group-item:hover {
    bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.col-left .list-group-item.active:hover {
    cursor: pointer;
    bottom: 3px;
    bottom: 0;
    background-color: $primary-highlight;
    border-color: $primary-bg-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.listDelete, .bi-trash {
    color: $primary-bg-color;
}

.bi-trash, .bi-save2, .bi-pen {
    padding: 5px 10px;
}

.bi-trash:hover {
    background-color: #B60E23;
}


////////////////
// DARK MODE ///
////////////////


.dark-mode input, .dark-mode li, .dark-mode .list-group-item, .dark-mode .form-control {
    background-color: $drk-primary-highlight;
    color: $btn-font-color;
}

.dark-mode .list-form {
    background-color: $drk-primary-bg-color;
}


.dark-mode .list-form:focus {
    background-color: $drk-secondary-bg-color;
}

.dark-mode .form-control:focus, .dark-mode #taskInput:focus {
    border-bottom: $drk-btn-primary 2px solid;
}

.dark-mode .form-control::placeholder {
    color: $primary-bg-color;
}

.dark-mode .list-group-item.active {
    background-color: $drk-primary-highlight;
    border-color: $drk-primary-bg-color;
}

.dark-mode .col-left .list-group-item.active:hover {
    background-color: $drk-primary-highlight;
    border-color: $drk-primary-bg-color;
}

.dark-mode .listDelete, .dark-mode .bi-trash {
    color: $primary-bg-color;
}

.dark-mode .list-form, .dark-mode #taskInput {
    background-color: transparent;
    border-bottom:rgba(104, 32, 117, 0.3) 2px solid;
}

////////////////
/// RED MODE ///
////////////////


.red-mode input, .red-mode li, .red-mode .list-group-item, .red-mode .form-control {
    background-color: $red-primary-highlight;
}

.red-mode .list-form:focus {
    background-color: $red-secondary-bg-color;
}

.red-mode .form-control:focus {
    border-bottom: $red-btn-primary 2px solid;
}

.red-mode .list-group-item.active {
    background-color: $red-primary-highlight;
}

.red-mode .col-left .list-group-item.active:hover {
    background-color: $red-primary-highlight;
}

.dark-mode .bi-trash:hover {
    background-color: $red-secondary-highlight;
}

.red-mode .list-form, .red-mode #taskInput {
    background-color: transparent;
    border-bottom:rgba(227, 25, 54, 0.3) 2px solid;
}

.red-mode .form-control:focus, .red-mode #taskInput:focus {
    border-bottom: $red-primary-highlight 2px solid;
}
