$primary-highlight: #001D9B;
$secondary-highlight: #2E6BAF;
$primary-bg-color: #fff;
$secondary-bg-color: #DDEEF5;
$input-color: #EAF1FB;
$font-color: #3d404d;
$primary-font-size: 20px;
$btn-font-color: #fff;
$btn-primary: #ED5725;
$btn-secondary: #EB5023;


$drk-primary-highlight: #111111;
$drk-secondary-highlight: #2D2D2D;
$drk-primary-bg-color: #202124;
$drk-secondary-bg-color: #35363A;
$drk-input-color: #2F2F2F;
$white: #fff;
$drk-btn-primary: #29DCCA;
$drk-btn-secondary: #1C3231;


$red-primary-highlight: #D61029;
$red-secondary-highlight: #B60E23;
$red-secondary-bg-color: #F8F8F8;
$red-btn-primary: #667279;
$red-btn-secondary: #3C4347;